* {
    box-sizing:border-box;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif
}

/* Navigation */

.nav-container {
  background:#fffffa;
  box-shadow: 0px 8px 100px rgba(0, 0, 0, 0.1); 
  height: 70px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px; 
    color: #000000; 
}

.nav-items li {
    list-style: none;
    margin-right: 20px;
}

.nav-items li a {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
}

.header-container {
    background: white  
    background-size: contain;
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 500;
    font-size: 25px;
    line-height: 41px;
    text-align: center;
    color: #000000; 
    margin-bottom: 100px;
}


header p {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

header p {
    color: white;
    background: #FF0D0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    transition: 300ms;
}

header p:hover {
    transform: translateY(-8px);
}

header p {
    position: absolute;
    width: 165px;
    height: 43px;
    right: 600px;
}

/* Media Queries */

@media (min-widh: 1300px) {
    .wrapper {
        width: 1200px;
    }

    .nav-items li a {
        font-size: 24px;
        list-style: none;
    }
}

@media (max-width: 850px) {
    .wrapper {
        width: 100%;
        padding: 0 2px;
    }

    .nav-container {
        position: absolute;
        width: 530px;
        height: 100px;
        left: 5px;
        top: 1px;
        background: #FFE1E1;
    }

    .nav-items li a {
        font-size: 25px;
    }

    header h1 {
        width: 100%;
    }

    header h1 {
        position: absolute;
        width: 406px;
        height: 402px;
        top: 755px;
        left: 50px;
    }

    .logo {
        visibility: hidden;
    clear: both;
    float: left;
    margin: 5px auto 5px 20px;
    display: none;
    }
}